@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #254d4d;
  --text-dark: #171717;
  --text-light: #f9f9f9;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Merriweather", serif;
  --nav-height: 80px;
  --bg-menu: #1f1f1f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer base {
  button {
    @apply cursor-pointer;
  }

  input {
    @apply bg-transparent outline-none;
  }

  .btn {
    @apply text-white bg-[#975ef3] hover:bg-[#4f288e] rounded-md shadow-md my-[10px] px-2 py-1.5 cursor-pointer;
  }

  h1 {
    @apply text-3xl lg:text-4xl 2xl:text-5xl font-semibold;
  }
  h2 {
    @apply text-2xl lg:text-3xl 2xl:text-4xl font-semibold;
  }
  h3 {
    @apply text-xl lg:text-2xl 2xl:text-3xl font-semibold;
  }

  .layout{
    @apply px-4 md:px-8 lg:px-16 xl:px-32 2xl:px-64
  }

}

.scrollbar-hide::-webkit-scrollbar{
  display: none;
}
.scrollbar-hide{
  scrollbar-width: none;
}

